<md-toolbar layout = "row" layout-align="space-between center">
            <div ng-show="main.loggedIn">Hi, {{main.loggedInId}}!</div>
            <div ng-hide="main.loggedIn">
                <md-button ui-sref="login-register.login">Login</md-button>
            </div>
            <div ng-show="main.loggedIn" layout="row">
                <input type="file" accept="image/*" name="file" onchange="angular.element(this).scope().inputFileNameChanged(this)">
                <md-button ng-click="uploadPhoto()">Add Photo</md-button>
            </div>
            <div>{{main.selectedUser}}</div>
            <div ng-show="main.loggedIn">
                <md-button ng-click="main.logout()">Logout</md-button>
            </div>
            <div ng-hide="main.loggedIn">
                <md-button ui-sref="login-register.register">Register</md-button>
            </div>
        </md-toolbar>
