<div class="photo-pane" ng-show="active">
    <div ng-transclude></div>
</div>

<!--<md-card ng-show="active">
    <div class="image">
        <img ng-src="images/{{photo.file_name}}">
        <span class="md-caption">Added: {{photo.date_time | date:'MM/dd/yyyy @ h:mma'}}</span>
    </div>
<md-card-actions layout="column">
</md-card>

<md-list-item class="md-3-line md-long-text" ng-repeat="comment in photo.comments" ng-href="#/users/{{comment.user._id}}">
                <div class="md-list-item-text">
                    <h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
                    <p>{{comment.comment}}</p>
                    <p class="md-caption">{{comment.date_time | date:'MM/dd/yyyy @ h:mma'}}</p>
                </div>
        </md-list-item>
        <md-list-item>
            <md-input-container>
                <label>Comment</label>
                <textarea ng-model="newComment"></textarea>
                <md-button ng-click="add(photo._id, newComment)">Add Comment</md-button>
            </md-input-container>
        </md-list-item>
-->
