<form name="loginForm">
    <div layout="column">
        <div layout="row" layout-xs="column">
            <md-input-container>
                <label>Username</label>
                <input type="text" name="username" ng-model="curUser.username" required/>
                <div ng-messages="loginForm.username.$error" role="alert">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="curUser.password" required/>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">This field is required</div>
                    </div>
            </md-input-container>
            <md-button ng-click="login()">Login</md-button>
        </div>
    </div>
</form>
