<md-card ng-model="userPhotoDetail.photo">
    <div class="pa-image-container">
        <img ng-src="images/{{userPhotoDetail.photo.file_name}}"></img>
        <span class="md-caption">Added: {{userPhotoDetail.photo.date_time | date:'MM/dd/yyyy @ h:mma'}}</span>
    </div>
    <md-card-actions layout="column">
        <md-list-item class="md-3-line md-long-text" ng-repeat="comment in userPhotoDetail.photo.comments" ui-sref="users({id: comment.user._id})">
            <div class="md-list-item-text">
                <h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
                <p>{{comment.comment}}</p>
                <p class="md-caption">{{comment.date_time | date:'MM/dd/yyyy @ h:mma'}}</p>
            </div>
        </md-list-item>
        <md-list-item>
            <md-input-container>
                <label>Comment</label>
                <textarea ng-model="userPhotoDetail.commentModel.comment"></textarea>
                <md-button ng-click="userPhotoDetail.addComment()">Add Comment</md-button>
            </md-input-container>
        </md-list-item>
    </md-card-actions>
</md-card>
